* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
    color: white;
}
body {
    background-color: rgb(189, 186, 186);
    color: black;
    font-family: "EB Garamond", serif;
}
nav ul{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(211, 220, 228);
}
nav ul li a.active{
    text-decoration: none;
    color: rgb(211, 220, 228);
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
}
nav ul li a:hover{
    color: rgb(116, 118, 121);
    font-size: 1.4rem;
}
.left{
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
}
.firstsec{
    display: flex;
    justify-content: space-around;
}
.firstsec > div{
    width: 30%;
}
.leftsec{
    font-size: 2.5rem;
    margin: 80px;
    margin-top: 150px;
}
.btn{
    padding: 10px;
    background-color: black;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}
.btn:hover{
    color:  rgb(116, 118, 121);
    filter: drop-shadow(1px 2px 2px black);
}
.buttons{
    padding: 18px 0;
    
}
.rightsec img{
    width: 100%;
    margin: 50px 0;
    filter: drop-shadow(10px 10px 15px black);
}
.name{
    color: black;
}
#element{
    color: black;
    font-weight: bold;
}
.box{
    box-shadow: 15px 10px 15px black;
    margin: 25px;
    border-radius: 10px;
}
main ul li{
    list-style: square;
    margin-left: 20px;
}